.sorting {
  text-align: center !important; /* Centrar el texto horizontalmente */
  vertical-align: middle; /* Centrar el texto verticalmente */
}

@media (max-width: 1200px) {
  .principal {
    margin: 0 !important;
  }
}