$menuFondo: rgb(173, 173, 173);

h1{    
    padding: 0.7em 0.7em;
}
.table-responsive{
    margin-left: 0.7em;
    margin-right: 0.7em;
}
.menuPrincipal{
    background-color: $menuFondo;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    a{
        text-decoration: none;
        color: #0d6dfdd0;
    }
}
.formulario{
   display: flex;
   flex-direction: column;
   

   label{
        display: flex;
        justify-content: end;
        padding-right: 0.6em;
   }
}
fieldset{
    text-align: center;
}
.h2Modificar{
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    margin: 1em;
}

.menuLateral{
    display: flex;
    flex-direction: column;
}

.formBusqueda{
    display: flex;
    align-items: center;
    justify-content: left;
}